﻿html, body{
    background:black;
}

html{
    height:100%;
}

body{
    height:100%;
    min-height:233px;
    min-width:300px;
}

#loginContainer{
    background:black;
    width:100%;
    position: relative;
	top: 50%;
    transform:translateY(-50%);
}

#formDiv{
    width:300px;
    position: relative;
	left: 50%;
    transform:translateX(-50%);
}

.glyphicon{
    color:white;
}

/*.form-control:focus {
  border-color: blue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 255, 0.6);
}*/

.form-control:invalid {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-control:valid {
  border-color: green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.6);
}

span, li{
    color:red;
}