﻿html {
    box-sizing: border-box;
    height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    min-height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

body{
    height:100%;
    /*min-width:900px;*/
    background-color:#000;
}

#mainContent{
    height:100%;
    width: calc(100% - 30px);
    border:none;
    background-color:#fff;
}

#sidebar-right-settings-menu{
    box-shadow:inherit;
    position: absolute;
    bottom:40px;
    right:30px;
    width:270px;
    height: calc(100% - 40px);
    border-left:2px solid black;
    background-color:#333;
    z-index:2;
}

#sidebar-right-panel{
    display:block;
    position: absolute;
    bottom:40px;
    right:0px;
    width:30px;
    height: calc(100% - 40px);
    background-color:black;
}

#sidebar-right-panel button {
    border:0;
    background-color:#000;
    padding:0;
    width:100%;
    height:50px;
}

#sidebar-right-panel button:hover{
    background-color:#000;
}

#sidebar-right-panel button:focus{
    outline:0;
}

#sidebar-right-panel button span{
    color:grey;
}

#sidebar-right-panel #settingsBtn:hover{
    background-color:#808080;
}

#sidebar-right-panel button:hover span{
    color:white;
}

#orderDropDown, #playlistDropDownDiv{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

#orderDropDown p, #playlistDropDownDiv p{
    margin:0;
    color:white;
}

.glyphicon{
    color:#333;
}

#logoutContainer{
    float:right;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.disabled {
   pointer-events: none;
   cursor: default;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}