﻿#musicContentView{
    /*width:calc(100% - 30px);*/
    height:calc(100% - 40px);
    
}

#musicContentView div{
    /*overflow:hidden;*/
}

#treeContainer{
    overflow-y:auto;
    height:calc(100% - 70px);
    width:100%;
    background-color:#333;
    color:#fff;
}

#jstree .glyphicon-file{
    color:white;
}

/*.jstree-icon{
    color:white;
}*/

#viewAndFilterDiv{
    position:relative;
    bottom:0px;
    left:0px;
    background-color:#f7f7f7;
    height:70px;
}

#viewByDiv{
    margin-left:5px;
    margin-right:5px;
    width:166px;
    float:left;
}

#filterDiv{
    width:calc(100% - 181px);
    margin-right:5px;
    float:left;
}

/*SPLIT-PANE.JS*/

.split-pane-divider {
    background: #aaa;
}
#contentHierarkiView {
    width:60%
}
#my-divider {
    left: 60%; 
    width: 5px;
}
#playlistView {
    left: 60%;
    margin-left: 5px;
}

/*SPLIT.JS*/

/*.split.split-horizontal, 
.gutter.gutter-horizontal {
    height: 100%;
    float:left;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('https://nathancahill.github.io/Split.js/grips/vertical.png');
    background-color:#f7f7f7;
}

.gutter {
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50%;
}*/

/*CUSTOM SCROLLBARS*/

/*#treeContainer::-webkit-scrollbar {
    width: 12px;
    height:12px;
}

#treeContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 3px;
    border-radius: 0px;
    background-color:white;
}

#treeContainer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 3px;
    background: rgba(100,100,100,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#treeContainer::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}*/