﻿@model MediaPlayer.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />*@
    <link rel="stylesheet" href="~/Style/home.css" />

    <title>Reaper's Home</title>
</head>
<body>
    <div id="loginContainer" class="container">
        <div id="logo">
            <p>@ViewBag.exception</p>
        </div>
        <div id="formDiv">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "loginForm", @*role = "form"*@ }))
            {
                <div id="validationSummaryDiv">@Html.ValidationSummary(true, "Login failed")</div>
                <div>
                    <fieldset>
                        <div class="form-group">
                            <span class="label label-danger"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Username</span>
                            @Html.TextBoxFor(u => u.username, new { @class = "form-control", required = "required" })
                        </div>

                        <div class="form-group">
                            <span class="label label-danger"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Password</span>
                            @Html.PasswordFor(u => u.password, new { @class = "form-control", required = "required" })
                        </div>

                        <div id="loginBtnDiv">
                            <input type="submit" value="Log In" class="btn btn-lg btn-danger btn-block" />
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        $('#loginForm input[id=username]').on('change invalid', function () {
            var textfield = $(this).get(0);

            // 'setCustomValidity not only sets the message, but also marks
            // the field as invalid. In order to see whether the field really is
            // invalid, we have to remove the message first
            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('The Username field is required.');
            }
        });

        $('#loginForm input[id=password]').on('change invalid', function () {
            var textfield = $(this).get(0);

            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('The Password field is required.');
            }
        });
    </script>
</body>
</html>
