﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="~/Style/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Style/jquery-ui.structure.min.css" />*@
    @*<link rel="stylesheet" href="~/Style/jquery-ui.theme.min.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default-dark/style.min.css" />
    @*<link rel="stylesheet" href="~/Style/layout.css" />
    <link href="~/Style/musiccontentview.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Style/playlist.css" />
    <link rel="stylesheet" href="~/Style/musicplayer.css" />*@

    @Styles.Render("~/Bundles/Style/sitecss")
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="sideMenuRight" ng-app="ngLayoutApp" ng-controller="ngSideMenuController">
        <div id="sidebar-right-panel">
            <button id="settingsBtn" ng-click="toggleSettingsMenu()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
        <div id="sidebar-right-settings-menu" ng-show="showRightSettingsMenu">
            <div class="well well-sm">
                <a href="#">Logged in as @User.Identity.Name</a> 
                <div id="logoutContainer">
                    <a href="/Home/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </div>
            </div>

            <div id="orderDropDown">
                <p>Order: </p>
                <select class="form-control">
                    <option>Default</option>
                    <option disabled>Repeat(playlist)</option>
                    <option disabled>Repeat(track)</option>
                    <option disabled>Random</option>
                    <option disabled>Shuffle(tracks)</option>
                    <option disabled>Shuffle(albums)</option>
                </select>
            </div>

            <div id="playlistDropDownDiv">
                <p>Playlist: </p>
                <select id="playlistDropDown" class="form-control">
                    
                </select>

                @*<a href="#openModal">Open Modal</a>*@
            </div>
        </div>
    </div>

    @*<div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Create new playlist</h2>
            <p>Name </p> <input id="playlistnameInput" class="form-control" />
            <button id="createPlaylistBtn">CREATE</button>
        </div>
    </div>*@

    <div id="mainContent" @*class="container-fluid"*@>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-touch.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @Scripts.Render("~/Bundles/Scripts/sitejs")
</body>
</html>