﻿@{
    ViewBag.Title = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("Content");}

<audio id="music">
    <source id="musicSrc" src="" type="audio/mpeg" />
    Your browser does not support HTML5 audio.
</audio>

<div id="musicplayer">
    @*<div id="currentlyPlayingInfo">
        <span>Playback stopped</span>
        <p id="playingSongAndTimeSeperator" class="verticalLine">|</p>
        <div id="timeDisplayCurrentlyPlayingInfo" class="timeDisplay">
            <p>- / -</p>
        </div>
    </div>*@

    <div id="musicplayerControls">
        <button id="playAndPauseBtn">
            <span class="glyphicon glyphicon-play"></span>
            @*&#x25BA
            &#x2590 &#x2590*@
        </button>

        <button id="stopBtn">
            <span class="glyphicon glyphicon-stop"></span>
        </button>

        <button id="backwardBtn">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>

        <button id="forwardBtn">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>

        <div id="timeline">
            <div id="slider-container">
                <div id="slider"></div>
            </div>

            <button id="timelineBtn">
                <span class="glyphicon glyphicon-hourglass"></span>
            </button>
        </div>
        
        @*<div id="timeDisplayControlsBar" class="timeDisplay">
            <p>- / -</p>
        </div>*@
        
        <div id="volume">
            <button id="muteBtn">
                <span class="glyphicon glyphicon-volume-down"></span>
            </button>

            <div id="slider-vertical-container">
                <div id="slider-vertical"></div>

                <button id="muteBtn-vertical">
                    <span class="glyphicon glyphicon-volume-down"></span>
                </button>
            </div>
        </div>
    </div>

    @*<div id="currentlyPlayingInfo">
        <span>Playback stopped</span>
        <p id="playingSongAndTimeSeperator" class="verticalLine">|</p>
        <div id="timeDisplayCurrentlyPlayingInfo" class="timeDisplay">
            <p>- / -</p>
        </div>
    </div>*@
</div>